<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Login form</h1>
            <div class='spacer'>
                <form action="" enctype="multipart/form-data" method="POST">
                    <label></label>
                    <br>
                    <label>Identifiant</label>
                    <input type="text" value="" name="username" placeholder="Username">

                    <label>Password</label>
                    <input type="password" value=""  name="password" placeholder="password">
                    <input type="submit" value="Poster">
                </form>
                <a href="/" class='box orange'>
                    <i class="icon-home"></i>
                    <h2>Home</h2>
                </a>
            </div>
        </div>
    </body>
</html>